<div class="row">
    <div class="col-xs-1">
        <label for="start">Start</label><br>
        <button type="button" class="btn btn-success" (click)="onStartGame()">start</button>
    </div>
    <div class="col-xs-1">
        <label for="stop">Pause</label><br>
        <button type="button" class="btn btn-primary" (click)="onPauseGame()">pause</button>
    </div>
    <div class="col-xs-1">
        <label for="stop">Stop</label><br>
        <button type="button" class="btn btn-danger" (click)="onStopGame()">stop</button>
    </div>
    <div class="col-xs-8"></div>
    <div class="col-xs-1">
        <label for="stop">Again</label><br>
        <button type="button" class="btn btn-dark" (click)="onStartGame()">again</button>
    </div>
</div>
<hr>
